header{
    height: 250px;
    background-color: #1e95f7;
    border-radius: 10px;
}
main{
    min-height: 800px;
}
nav{
    & ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        & li{
            display: inline-block;
            &:hover{
                background-color: #ff9e0c;
            }
        }
    }
}
footer{
    background-color: #c7bcbc;
    height: 60px;
}